.navbar{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    font-size: 1.3em;
}

.carrito{
    padding-right: 1.2em;
    font-size:large;
}

.brand{
    padding-left: 1em;
}